 /*Adiconar um botão de voltar para pag 1*/
@charset "UTF-8";

 *{
    margin: 0;
    padding: 0;
 }

body {
    display: flex;
    background-image: radial-gradient(circle,#00bcd4 50%, #006064 100%); 
}

div.container{
    gap: 8vw;
    display: inline-flex;
    margin: 0 auto;
    align-items: center;
}

.Btestudante , .Btmotorista {
    display: flex;
    height: 20vw;
    width: 20vw;

    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;

    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    flex-direction: column; /* Organiza o conteúdo interno verticalmente */
    justify-content: center; /* Alinha o conteúdo ao final (bottom) */
    align-items: center;
}


button:hover {/*hover : ao passar em cima o cursor ja funciona*/
    transform: scale(1.1); /*Ao passar o mouse em cima aumenta o tamanho do botao*/
}

i {
    
    font-size: 8vw;
    color: black;
    margin-top: 1vw;
    padding-bottom: 1vw;
}

.Btestudante , .Btmotorista > p {
    font-size: 2vw;
}

a {
    text-decoration: none;
}
